{% extends "base.html.twig" %}

{% block title %}New User{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    {% if form_error is not empty %}
        <div class="alert alert-danger">{{ form_error }}</div>
    {% endif %}
    {% if form_success is not empty %}
        <div class="alert alert-success">{{ form_success }}</div>
    {% endif %}
    <div class="row">
        <form id="email_form" method="POST">
            <div class="input-group mb-3 row">
                <label for="uname" class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="uname" name="uname" value="" required>
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label for="role-select" class="col-sm-2 col-form-label">User Role: </label>
                <div class="col-sm-10">
                    <select class="form-select" id="role-select" name="role-select" style="width: 20em;">
                        {% for sub_array in user_roles %}
                            <option value="{{ sub_array.ID }}">{{ sub_array.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label class="col-sm-2 col-form-label" for="inp-email">Email Address:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inp-email" name="inp-email" type="email" value="" required>
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label class="col-sm-2 col-form-label" for="inp-cpassword">Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inp-cpassword" name="inp-cpassword" type="password" value="">
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label class="col-sm-2 col-form-label" for="inp-cnpassword">Confirm Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inp-cnpassword" name="inp-cnpassword" type="password" value="">
                </div>
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-success"><i class="fas fa-user-plus"></i> Create User </button>
            </div>
        </form>
        <hr />
        <div class="float-right">
            <a href="users.php" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Go back</a>
        </div>
    </div>
{% endblock %}

{% block footer %}


{% endblock %}