{% extends "base.html.twig" %}

{% block title %}Activity{% endblock %}

{% block header %}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
    {% if errors is not empty %}
        <div class="alert alert-danger">{{ errors }}</div>
    {% endif %}
    {% if no_data %}
        No data found
    {% else %}
        <table class="table" id="activityTable">
            <thead>
            <tr>
                <th>Date/Time</th>
                <th>IP Address</th>
                <th>User Agent</th>
                <th>Attempt Type</th>
            </tr>
            </thead>
            <tbody>
            {% for sub_array in table_data %}
                <tr>
                    {% for value in sub_array %}
                        <td>{{ value }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block footer %}
    <script>
        // Make the table sort in order of most recent activity
        $(document).ready( function () {
            $('#activityTable').DataTable({
                "order": [[ 0, "desc" ]]
            });
        } );
    </script>
{% endblock %}